CinemaCLIENT/Connected Services/StaffServiceReference/StaffServce.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StaffServce" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/FilmLibrary.Services_Interfaces/StaffServce/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/FilmLibrary.Services_Interfaces/StaffServce/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/FilmLibrary.Services_Interfaces/StaffServce/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FilmLibrary.Les_Modeles" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStaffServce_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IStaffServce_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IStaffServce_FindAll_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAll" />
  </wsdl:message>
  <wsdl:message name="IStaffServce_FindAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllResponse" />
  </wsdl:message>
  <wsdl:message name="IStaffServce_Find_InputMessage">
    <wsdl:part name="parameters" element="tns:Find" />
  </wsdl:message>
  <wsdl:message name="IStaffServce_Find_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindResponse" />
  </wsdl:message>
  <wsdl:message name="IStaffServce_FindUser_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUser" />
  </wsdl:message>
  <wsdl:message name="IStaffServce_FindUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUserResponse" />
  </wsdl:message>
  <wsdl:message name="IStaffServce_Modifier_InputMessage">
    <wsdl:part name="parameters" element="tns:Modifier" />
  </wsdl:message>
  <wsdl:message name="IStaffServce_Modifier_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifierResponse" />
  </wsdl:message>
  <wsdl:portType name="IStaffServce">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffServce/Add" message="tns:IStaffServce_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffServce/AddResponse" message="tns:IStaffServce_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffServce/FindAll" message="tns:IStaffServce_FindAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffServce/FindAllResponse" message="tns:IStaffServce_FindAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Find">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffServce/Find" message="tns:IStaffServce_Find_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffServce/FindResponse" message="tns:IStaffServce_Find_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffServce/FindUser" message="tns:IStaffServce_FindUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffServce/FindUserResponse" message="tns:IStaffServce_FindUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modifier">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffServce/Modifier" message="tns:IStaffServce_Modifier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffServce/ModifierResponse" message="tns:IStaffServce_Modifier_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStaffServce" type="tns:IStaffServce">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IStaffServce/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAll">
      <soap:operation soapAction="http://tempuri.org/IStaffServce/FindAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Find">
      <soap:operation soapAction="http://tempuri.org/IStaffServce/Find" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUser">
      <soap:operation soapAction="http://tempuri.org/IStaffServce/FindUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modifier">
      <soap:operation soapAction="http://tempuri.org/IStaffServce/Modifier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StaffServce">
    <wsdl:port name="BasicHttpBinding_IStaffServce" binding="tns:BasicHttpBinding_IStaffServce">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/FilmLibrary.Services_Interfaces/StaffServce/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>