CinemaCLIENT/Connected Services/AdresseServiceReference/AdresseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdresseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/FilmLibrary.Services_Interfaces/AdresseService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/FilmLibrary.Services_Interfaces/AdresseService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/FilmLibrary.Services_Interfaces/AdresseService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FilmLibrary.Les_Modeles" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdresseService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IAdresseService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IAdresseService_FindAll_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAll" />
  </wsdl:message>
  <wsdl:message name="IAdresseService_FindAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllResponse" />
  </wsdl:message>
  <wsdl:message name="IAdresseService_Find_InputMessage">
    <wsdl:part name="parameters" element="tns:Find" />
  </wsdl:message>
  <wsdl:message name="IAdresseService_Find_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindResponse" />
  </wsdl:message>
  <wsdl:message name="IAdresseService_FindByNom_InputMessage">
    <wsdl:part name="parameters" element="tns:FindByNom" />
  </wsdl:message>
  <wsdl:message name="IAdresseService_FindByNom_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindByNomResponse" />
  </wsdl:message>
  <wsdl:message name="IAdresseService_Modifier_InputMessage">
    <wsdl:part name="parameters" element="tns:Modifier" />
  </wsdl:message>
  <wsdl:message name="IAdresseService_Modifier_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifierResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdresseService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdresseService/Add" message="tns:IAdresseService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdresseService/AddResponse" message="tns:IAdresseService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdresseService/FindAll" message="tns:IAdresseService_FindAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdresseService/FindAllResponse" message="tns:IAdresseService_FindAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Find">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdresseService/Find" message="tns:IAdresseService_Find_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdresseService/FindResponse" message="tns:IAdresseService_Find_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindByNom">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdresseService/FindByNom" message="tns:IAdresseService_FindByNom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdresseService/FindByNomResponse" message="tns:IAdresseService_FindByNom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modifier">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdresseService/Modifier" message="tns:IAdresseService_Modifier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdresseService/ModifierResponse" message="tns:IAdresseService_Modifier_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdresseService" type="tns:IAdresseService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IAdresseService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAll">
      <soap:operation soapAction="http://tempuri.org/IAdresseService/FindAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Find">
      <soap:operation soapAction="http://tempuri.org/IAdresseService/Find" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindByNom">
      <soap:operation soapAction="http://tempuri.org/IAdresseService/FindByNom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modifier">
      <soap:operation soapAction="http://tempuri.org/IAdresseService/Modifier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdresseService">
    <wsdl:port name="BasicHttpBinding_IAdresseService" binding="tns:BasicHttpBinding_IAdresseService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/FilmLibrary.Services_Interfaces/AdresseService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>