CinemaCLIENT/Connected Services/LangueServiceReference1/LanguageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LanguageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/FilmLibrary.Services_Interfaces/LanguageService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/FilmLibrary.Services_Interfaces/LanguageService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/FilmLibrary.Services_Interfaces/LanguageService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FilmLibrary.Les_Modeles" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILanguageService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ILanguageService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ILanguageService_FindAll_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAll" />
  </wsdl:message>
  <wsdl:message name="ILanguageService_FindAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllResponse" />
  </wsdl:message>
  <wsdl:message name="ILanguageService_Modifier_InputMessage">
    <wsdl:part name="parameters" element="tns:Modifier" />
  </wsdl:message>
  <wsdl:message name="ILanguageService_Modifier_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifierResponse" />
  </wsdl:message>
  <wsdl:portType name="ILanguageService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/ILanguageService/Add" message="tns:ILanguageService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILanguageService/AddResponse" message="tns:ILanguageService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ILanguageService/FindAll" message="tns:ILanguageService_FindAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILanguageService/FindAllResponse" message="tns:ILanguageService_FindAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modifier">
      <wsdl:input wsaw:Action="http://tempuri.org/ILanguageService/Modifier" message="tns:ILanguageService_Modifier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILanguageService/ModifierResponse" message="tns:ILanguageService_Modifier_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILanguageService" type="tns:ILanguageService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/ILanguageService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAll">
      <soap:operation soapAction="http://tempuri.org/ILanguageService/FindAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modifier">
      <soap:operation soapAction="http://tempuri.org/ILanguageService/Modifier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LanguageService">
    <wsdl:port name="BasicHttpBinding_ILanguageService" binding="tns:BasicHttpBinding_ILanguageService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/FilmLibrary.Services_Interfaces/LanguageService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>