CinemaCLIENT/Connected Services/StoreServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/FilmLibrary.Services_Interfaces/StoreService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FilmLibrary.Les_Modeles" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FilmLibrary.Les_Modeles" minOccurs="0" name="store" nillable="true" type="q1:Store" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FilmLibrary.Les_Modeles" minOccurs="0" name="AddResult" nillable="true" type="q2:Store" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FilmLibrary.Les_Modeles" minOccurs="0" name="FindAllResult" nillable="true" type="q3:ArrayOfStore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Find">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FilmLibrary.Les_Modeles" minOccurs="0" name="FindResult" nillable="true" type="q4:Store" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>