CinemaCLIENT/Connected Services/ActorServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/FilmLibrary.Services_Interfaces/ActorService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FilmLibrary.Les_Modeles" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FilmLibrary.Les_Modeles" minOccurs="0" name="acteur" nillable="true" type="q1:Actor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FilmLibrary.Les_Modeles" minOccurs="0" name="AddResult" nillable="true" type="q2:Actor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="anciennom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ancienprenom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nouveaunom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nouveauprenom" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifierResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FilmLibrary.Les_Modeles" minOccurs="0" name="FindAllResult" nillable="true" type="q3:ArrayOfActor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Find">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="acteurId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FilmLibrary.Les_Modeles" minOccurs="0" name="FindResult" nillable="true" type="q4:Actor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prenom" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FilmLibrary.Les_Modeles" minOccurs="0" name="FindByNameResult" nillable="true" type="q5:Actor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>